/* cssリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
p,
form, input, div {
  margin: 0;
  padding: 0;
}

main :not(.concept) {
  max-width: 1000px;
  margin: 0 auto!important;
}


/* ここからタイトルtitle */

.title {
  padding: 100px 30px;
}

.title img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.title_text {
  vertical-align: center;
}

.title h2 {
  transform: rotate(-5deg);
  text-align: center;
  padding: 40px 0;
}

.title h1 {
  padding: 15px;
  text-align: center;
}


/* ここから自己紹介concept */

.concept {
  padding: 50px 0 70px;
  background-image: url("../images/sunrise.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  max-width: initial;
}

.concept h2 {
  text-align: center;
  padding: 30px 0 10px;
}

.concept h5 {
  text-align: center;
  padding-bottom: 20px;
}

.concept p {
  margin: 0 150px;
  line-height: 2.2;
}


/* ここからsサービスervice */

.service {
  padding: 50px 0 70px;
}

.service h2 {
  text-align: center;
  padding: 30px 0 10px;
}

.service h5 {
  text-align: center;
  padding-bottom: 20px;
}

.work_text {
  line-height: 1.7;
  letter-spacing: 0.05em;
}

.work p {
  text-align: left;
}

.works_img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(10px 10px 10px rgba(100, 100, 100, 0.6));
}





/*

一旦全体のサイト構成を考え直そうっ！

・ヘッダーにbackground-imagesを用いる
・conceptに白い背景を用いる
・サービスにまた背景を用いる

とりま、現段階ではこんな感じかなっ！
自分のLove&Peaceが意外と参考になるよ
今度また再開する時は、参考にしてみて！！！


*/









/* ここからSNS */

.sns {
  padding: 50px 0 70px;
}

.sns h2 {
  text-align: center;
  padding: 30px 0 10px;
}

.sns h5 {
  text-align: center;
  padding-bottom: 20px;
}



/* ここからfooter */

footer {
  padding: 30px 0;
}

footer p {
  text-align: center;
}
